node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.serviceAcctKey.json
.ds_store
.data-sandbox.json


configs/*
# package-lock.json

# api secrets

